.content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 92vh;
  max-width: 100%;
  background-color: lightblue;
}
.map-section {
  width: 65%;
}
.map-details {
  text-align: left;
  background-color: rgb(0, 48, 87);
  color: rgb(255, 255, 255);
  width: 23vw;
  height: 30vh;
  padding: 10px;
  border-radius: 25px;
}
path:hover {
  fill: rgb(79, 215, 76);
  stroke: rgb(0, 0, 0);
  stroke-width: 2px;
}
path {
  fill: #ede0cb;
  stroke: black;
}
h1 {
  text-align: center;
  color: white;
  background-color: rgb(0, 48, 87);
  margin: 0%;
  padding: 8px;
  font-size: 28pt;
}
body {
  height: 100vh;
}
h2 {
  text-align: center;
}
